{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-7">
        <h1>SG-1 Stargate</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Inventore id architecto numquam sequi, sed quibusdam ad odit reprehenderit.
              Optio ipsum est ullam quis quasi nobis delectus nam blanditiis 
              unde dignissimos?
        </p>
    </div>

    <div class="col-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/7a/SG1stargate.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}